doctype html
html
  title Authorization Grant for #{client}
  link(href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css",rel="stylesheet")
  style
    body{

    }
    .navbar-inner{
      border-radius:0;
    }

    .wrapper{
      margin-top:50px;
    }

    .cancel{
      margin-left:15px;
    }
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="#") #{client}

  .container.wrapper
    p
      | Hello #{client}, your id is #{client_id}.
    p
      | You are here with state #{state}
    
    form(action='/post', method='POST',id="messageForm")
      fieldset
        legend #{client}
        input(type="hidden", value="#{client_id}", name="client_id")
        input(type="hidden", value="#{state}", name="state")
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .form-actions
          button.btn.btn-success(type="submit") Allow
          a.btn.btn-danger.cancel(href="/auth/cancel/#{client_id}") Cancel
