doctype html
html
  title Authorization Grant for #{client}
  link(href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css",rel="stylesheet")
  style
    body{

    }
    .navbar-inner{
      border-radius:0;
    }

    .wrapper{
      margin-top:50px;
    }

    .cancel{
      margin-left:15px;
    }
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="#") #{client}

  .container.wrapper
    form(action='/grant/access', method='POST',id="messageForm")
      fieldset
        legend Access Grant for #{client}
        .control-group
          input(type="hidden", value="#{client_id}", name="client_id")
          input(type="hidden", value="#{state}", name="state")
        p.
          #{client} wants to access your data. You want to allow access? 
        .form-actions
          button.btn.btn-success(type="submit") Allow
          a.btn.btn-danger.cancel(href="/deny/access/#{client_id}/#{state}") Cancel
